body {
    font-family: Arial, sans-serif;
    background-color: #a9a9a9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: #dcdcdc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px;
}

.card {
    width: 100px;
    height: 80px;
    background-color: #a9a9a9;
    border: 1px solid #808080;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    position: relative;
    transition: transform 0.3s;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.card.flipped img {
    display: block;
}

.card.flipped {
    background-color: #ecf0f1;
}

.card.matched {
    background-color: #fccf9b;
    cursor: default;
}

#sidebar {
    width: 200px;
    padding: 20px;
    background-color: #696969;
    color: #fff;
    text-align: center;
    height: 100%;
}

#sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#sidebar p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

#game-info h2{
    font-size: 18px;
    margin-bottom: 10px;
}

#description{
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
}

#game-info, #creator-info {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
}

#creator-info li {
    margin: 5px 0;
    color: #000000;
}

#creator-info li a {
    color: #252424;
    text-decoration: none;
}

#creator-info li a:hover {
    text-decoration: underline;
}

#cards-info {
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}

#level-selection {
    margin-bottom: 20px;
    text-align: center;
}

button {
    margin: 0.5px;
    padding: 5px 20px;
    font-size: 14px;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c0c0c0;
}

button:active {
    transform: scale(0.95);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 4px;
}

#message {
    font-size: 24px;
    font-weight: bold;
    color: #c4c4c4;
    display: none;
}

#restart {
    margin-top: 20px;
    display: none;
}
